body, html {
  background-color: #EBECF0;
  height: 100%;
  overflow: hidden;
}

body, p, input, select, textarea, button {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p ,h2 {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
}

h2 {text-align: center}

form {
    padding: 16px;
    width: 320px;
    margin: -30px auto 0;
}
/* ::placeholder {
    color: red;
} */
.segment {
  padding: 15px 0;
  text-align: center;
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

input {
    margin-right: 8px;
    -webkit-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
            box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-appearance: none;
        appearance: none;
    -webkit-appearance: none;
}

input:focus {
    -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
            box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button {
    color: #61677C;
    font-weight: bold;
    -webkit-box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
            box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    -webkit-box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
            box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
    -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
            box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button .icon {
    margin-right: 8px;
}

button.unit {
    border-radius: 320px;
    line-height: 0;
    width: 100px;
    height: 48px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 8px;
    font-size: 15px;
}

button.unit .icon {
    margin-right: 10px;
}